---
import textgroup from "../assets/txtgroup.png";
import player from "../assets/SPRITE PLAYER.png";
import villan1 from "../assets/SPRITE VILLAIN.png";
import villan2 from "../assets/SPRITE ENEMY 01.png";
import villan3 from "../assets/SPRITE ENEMY 02.png";
---

<div class="why">
  <div class="text">
    <p>El Por qué</p>
  </div>
  <div class="line"></div>
  <div class="description">
    <img src={textgroup} alt="textgroup" class="textgroup" />
    <img src={player} alt="player" class="player" />
    <img src={villan2} alt="villan2" class="villan2" />
    <img src={villan1} alt="villan1" class="villan1" />
    <img src={villan3} alt="villan3" class="villan3" />
    <div class="descrip">
      <div class="descrip1">
        <p>
          La idea base surgió del sentimiento de <strong
            >concientización sobre el medioambiente</strong
          > y la importancia del rol de los recolectores de basura, así como de la
          intención de las personas de contribuir con esta tarea. Se buscó crear
          un juego <strong>entretenido, con acción, dinamismo</strong> y que al mismo
          tiempo mostrara el importante factor de la basura en nuestro planeta y
          cómo, si no se erradica, podrá causar muchos <strong
            >problemas a largo plazo.</strong
          >
        </p>
      </div>

      <div class="descrip2">
        <p>
          En el juego, controlarás a un <strong>recolector de basura</strong> en
          un mundo sumido por la contaminación. Fruto de esto y de las malas intenciones
          de la humanidad, nació una entidad maligna llamada <strong
            >Mente</strong
          >, capaz de dar vida corrupta a la basura. Esta entidad atacará al
          jugador con la intención de detenerlo. Tu misión será <strong
            >limpiar el mundo de esta corrupción</strong
          >, destruyendo los enemigos controlados por el villano y recolectando
          la mayor cantidad de basura posible.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  /* ---------why--------- */
  .why {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* ---------title--------- */
  .text {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 20%;
  }

  .text p {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    color: white;
  }
  .line {
    position: absolute;
    width: 89px;
    height: 0px;
    border: 2px solid #ffffff;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: -12px;
  }
  /* ---------description--------- */
  .description {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
  }
  .description img {
    max-width: 70em;
  }

  .player {
    position: absolute;
    width: 100px;
    top: -30px;
    left: 0;
    max-width: 15em;
    margin: 0 -40px;
  }
  .villan1 {
    position: absolute;
    width: 15em;
    top: 300px;
    max-width: 15em;
    margin: 0 -140px;
  }
  .villan2 {
    position: absolute;
    width: 100px;
    top: 380px;
    max-width: 5em;
    margin: 0 -200px;
  }
  .villan3 {
    position: absolute;
    width: 80px;
    top: 440px;
    max-width: 5em;
    margin: 0 -200px;
  }
  .descrip {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
  }

  .descrip1,
  .descrip2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .descrip1,
  .descrip2 p {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 20px;
  }

  @media only screen and (max-width: 390px) {
   
    /* ---------title--------- */

    .text p {
      font-size: 16px;
    }
    .line {
      width: 50px;
      margin-top: -12px;
    }
    /* ---------description--------- */
    .description {
      margin-top: 250px;
    }
    .textgroup {
      display: none;
    }

    .player {
      z-index: 1;
      width: 50px;
      top: -260px;
      left: -150px;      
    }
    .villan1 {
      display: none;
    }
    .villan2 {
      width: 80px;
      top: 190px;
      left: 314px;
      z-index: 1;
    }
    .villan3 {
      display: none;
    }
    .descrip {
      width: 350px;
      background-color: #1c64fc;
      border: 3px solid #044cdc;
      border-radius: 0px 37px 0px 40px; 
    }
    .descrip1,
    .descrip2 p {
      font-size: 14px;
      padding: 0 20px;
    }
  }
</style>
